@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.col-1 {
  width: 8.333%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333%;
}

.col-5 {
  width: 41.65%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-12 {
  width: 100%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header {
  padding: 22px 0 9px;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__list {
  color: #1B365D;
  font-size: 16px;
  font-weight: normal;
  font-family: "Roboto";
  font-style: normal;
  line-height: 21px;
  margin-right: 48px;
}

.header__list3 {
  color: #1B365D;
  font-size: 16px;
  font-weight: normal;
  font-family: "Roboto";
  font-style: normal;
  line-height: 21px;
}

.header__button {
  color: #1B365D;
  font-size: 11px;
  font-weight: bold;
  font-family: "Roboto";
  font-style: normal;
  line-height: 17px;
  margin-left: 100px;
  padding: 6px 24px;
  background: #ffffff;
  border: 1px solid #a7bbc9;
  border-radius: 5px;
}

.header__menu-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero {
  background-image: url(../img/png/herobg.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 100vh;
}

.hero__title {
  color: #1B365D;
  font-size: 56px;
  font-weight: bold;
  font-family: "Roboto";
  font-style: normal;
  max-width: 404px;
  line-height: 62px;
  padding: 196px 0 17px;
}

.hero__text {
  color: black;
  font-size: 18px;
  font-weight: normal;
  font-family: "Roboto";
  font-style: normal;
  line-height: 24px;
  margin-bottom: 40px;
}

.hero__button, .hero__button2 {
  color: #1B365D;
  font-size: 14px;
  font-weight: normal;
  font-family: "Roboto";
  font-style: normal;
  line-height: 20px;
  padding: 13px 36px;
  border: 2px solid #ffffff;
  background-color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 24px;
}

.hero__button:hover, .hero__button2:hover {
  background-color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.hero__button__button2, .hero__button2__button2 {
  margin-left: 5px;
}

.hero__block {
  margin-top: 180px;
  max-width: 499px;
  height: 89px;
  background-color: #f1c0c7;
}

.hero___block-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 21px;
  /* identical to box height, or 140% */
  color: #1b365d;
}
